@import 'src/_helper.scss';
@import "header/header.scss";

@font-face { 
    font-family: "Quicksand";
    src: url(src/fonts/Quicksand-Regular.svg) format("svg"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
         url(src/fonts/Quicksand-Regular.woff) format("woff"), /* все современные браузеры, IE9+ */
         url(src/fonts/Quicksand-Regular.ttf) format("truetype"); /* все современные браузеры */
}

body{
	font-family: 'Quicksand';
}

