.type-color__sub-h1, .type-color__sub-h3:before {
  margin-left: 43px; }
  .type-color__sub-h1:before, .type-color__sub-h3:before {
    position: absolute;
    content: 'H1';
    display: inline-block;
    height: 30px;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    left: -24px;
    color: rgba(31, 32, 65, 0.25);
    margin: 0 auto; }

.type-color__sub-h3 {
  margin-left: 43px; }
  .type-color__sub-h3:before {
    content: 'H3';
    left: -15px;
    font-size: 12px;
    line-height: 15px; }
